{% assign collection = collections["ランキング"] %}
{% assign rank_flag = 0 %}
<div class="all-sec ranking" >
  <!--img src="{{'title_ranking_01.png' | asset_url}}" style="z-index:-1;width:100%;"-->
    <div class="box-row">
      {% for product in collection.products %}
        {% comment %} 表示数を数える {% endcomment %}
        {% assign rank_flag = rank_flag | plus : 1 %}
        {% if rank_flag <= 4 %}
          {% if product.featured_image == nil %}
              <figure class="box-item"><img src="noImage.jpg">
                {{product.vendor}}
                {{product.title}}
                {{product.price}}
              </figure>
            {% else %}
        	    <div class="box-item">
                <a href="{{product.url}}" style="text-decoration: none;">
                  <img src="{{product.featured_image | img_url: '300x' }}">
                  <div class="rec-content">
                    <div style="color:#6B978E;font-size:10px;display:block;">{{product.vendor}}</div>
                    {% comment %} line-height:1で行間をなくす 　height:25px;がないとoverflow:hiddenができない{% endcomment %}
                    <div style="color:white;font-size:12px;display:flex;height:25px;line-height:1;overflow:hidden;">
                      {{product.title}}
                    </div>
                    <div id="rank-price" style="color:white;font-size:12px;display:block;"></div>
                    <script>
                      var price = {{product.price}};
                      price = `¥ ${price.toLocaleString()}`
                      //console.log("rec-price"+`¥ ${price.toLocaleString()}`);
                      var elements = document.getElementById('rank-price');
                      elements.textContent = price;
                    </script>
                  </div>
                </a>
              </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  <div style="text-align:center;position:relative;height:10vh;">
    <a href="{{collection.url}}" class="btn btn-gradient"><span>View more</span></a>
  </div>
</div>
{% comment %}

    <div class="carousel" data-flickity='{ "groupCells": 3.5 }' >
      {% for product in collection.products %}
        {% if product.image %}
          <li style="list-style-type:none;width:24%;">
            <div class="carousel-cell">
              <a href="{{product.url}}" style="text-decoration: none;">
                <img class="category_img" src="{{product.image | img_url: '2048x' }}" style="width:60%;height:auto;" >
                <p style="color:#004c3d">{{product.title}}</p>
              </a>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </div>
  <div style="text-align:center;position:relative;height:10vh;">
    <a href="{{collection.url}}" class="btn btn-gradient"><span>View more</span></a>
  </div>
  {% endcomment %}
